Flask==2.2.5
gunicorn==20.1.0
Flask-Cors==4.0.0
requests==2.32.3
pandas==2.2.3
numpy==1.26.4
pycoingecko==3.2.0
vaderSentiment==3.3.2
feedparser==6.0.11
beautifulsoup4==4.13.5
scipy==1.13.1
fpdf==1.7.2
prettytable==3.10.2
matplotlib==3.9.4
python-dateutil==2.9.0
psycopg2-binary==2.9.6
SQLAlchemy==2.0.0
boto3==1.34.0
stripe
tweepy
playwright
imgkit
schedule